<!DOCTYPE html>
<html>
<head>
    <title>New recipe</title>
</head>
<body>
<h1>New recipe</h1>
<%= simple_form_for @recipe, html: { multipart: true } do |f| %>
    <% if @recipe.errors.any? %>
        <div id="errors">
            <p><%= @recipe.errors.count %> errors prevented this recipe from saving</p>
            <ul>
                <% @recipe.errors.full_messages.each do |msg| %>
                    <li>
                        <%= msg %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
        <div class="panel-body">
            <%= f.input :title, class: "form-control" %>
            <%= f.input :description, class: "form-control" %>
            <%= f.button :submit, class: "btn btn-primary" %>
        </div>
<% end %>
</body>
</html>